body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 0.5rem;
    max-width: 800px;
    margin: 0 auto;
}

#map {
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.table-responsive {
    max-height: 300px;
    overflow-y: auto;
}


/* Modal styling */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-footer {
    border-top: none;
    padding-top: 0;
}

#processingModal .modal-content {
    background-color: rgba(255, 255, 255, 0.9);
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}